/* Add CSS styling here */
*{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: lightgrey;
    padding: 2.5vh
}
button{
border: 3px solid black;
    display: inline-block;
    background: rgb(56, 56, 61);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    border: 3px solid black;
        display: inline-block;
        background: rgb(222, 222, 225);
        color: black;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }
 a{
    color: inherit;
    text-decoration: none;
 }

button :not(:hover){
    color:white;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    background: rgb(23, 207, 210);
   
}
.toptext{
    text-align: center;
    margin-top: 10vmax
}

.top img{
    border: 1px solid black;
    height: 80vh;
    background: white; 
}
.line1 img{
    height: 30vh;
    }
.line2 img{
        height: 30vh;
        }

.line1{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 25px;
   text-align: center;
}

.line2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    text-align: center;
 }
.line1 div{
    border: 1px solid black
}
.line2 div{
    border: 1px solid black
}
footer{
    background: grey;
 padding: 5vh;
    height: 40%;
    text-align: center;
}